.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  align-items: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  border-radius: 5px;
  margin: 50px 20px 20px 20px;
  padding: 10px;
  text-align: center;
  color: black;
  float: left;
  width: 300px;
  height: 400px;

}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.detail-img{
  height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 500px;
}

.card-img-top {
  max-height: 30%;
  max-width:20%;
object-fit: contain;
}

.thumbnail{
max-width: 100%;
height: 100%;
object-fit: scale-down;
}

.home{
  display: flex;
  justify-content: center;
}

.icon{
  width: 40px;
}
.new-beer{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.new-beer h2{
	background: #4D4D4D;
	text-transform: uppercase;
	color: #797979;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.new-beer input[type="text"],
.new-beer input[type="number"],
.new-beer textarea,
.new-beer select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}




.NewBeerPage{
  display: block;
}
.beer-img {
  max-width: 100%; /* or any custom size */
  max-height: 200px; 
  object-fit: contain;
  position: absolute;
}

.search{
  margin: 10px;
}